main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 130%;
}

p {
    font-size: 120%;
}

h1 {
    padding: 2em;
    text-align: center;
}

h2 {
    border-bottom: 2px solid rgb(136, 6, 6);
}

footer {
    padding-top: 4em;
    font-size: 110%;

}

@media only screen and (max-width: 650px) {
    main {
        flex-direction: column;
    }
} 