article {
    column-count: 2;
    column-gap: 10%;
    column-rule: 2px dotted rgb(136, 6, 6);
    text-align: left;
}

h1 {
    padding: 2em;
    text-align: center;
}

h2 {
    border-bottom: 2px solid rgb(136, 6, 6);
}

footer {
    padding-top: 4em;
    
}

