* {
    font-family: Arial, Helvetica, sans-serif;
}

a:hover {
    color: rgb(126, 7, 126);
}

h1 {
    font-size: 150%;
    font-family: 'Times New Roman', Times, serif;
    clear: left;
    padding: 0.5em;
}

h2,
h3 {
    font-style: italic;
}

p {
    font-size: 120%;

    /*text-decoration: underline;*/
}

body {
    width: 100%;
}

section {
    width: 100%;
}

div.meat {
    margin: auto;
    width: 20%;
}

main li {
    font-size: 80%;
    line-height: 1.5em;
}

#shoulder {
    color: #a51717;
    padding: 1em 0.5em;
}

#nav_menu ul {
    list-style-type: none;
    padding: 0%;
}

#nav_menu ul li {
    float: left;
}

#nav_menu ul li a {
    text-align: center;
    display: block;
    width: 175px;
    padding: 1em 0;
    text-decoration: none;
    background: linear-gradient(120deg, red 0%, white 100%);
    color: rgba(255, 255, 255, 0.895);
    font-weight: bold;
    border-right: 2px solid rgba(255, 255, 255, 0.895);
    border: 3px rgb(10, 10, 10) solid;
}

#armmuscles {

    display: flex;
    justify-content: space-evenly;
    

}

#armmuscles p{
    flex-basis: 40%;
}

img {
 max-width: 1920px ;
 width: 50%
}

/*ul.back {
    color: #120552;
}

ul.front {
    color: #983e06;
}
*/

@media only screen and (max-width: 820px) {
    #nav_menu ul li {
        float: none;
    }

    #nav_menu ul li a {
        width: 100%;
    }

    #armmuscles {
        flex-direction: column;

    }
    
}

@media only screen and (max-width: 250px) {
    div.meat {
        margin: 0%;
    }

    
}
